MYSQL_DATABASE=fitness_shop_db
MYSQL_USER=root
MYSQL_PASSWORD=quan0931848972
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
GOOGLE_MAPS_API_KEY=
